<%- include("header") -%>

<h1>Kalligrafie calculator v2.0</h1>
<p>Laatst geupdate: in progress</p>

<a class="btn btn-primary" data-bs-toggle="collapse" href="#vouwInstellingen" role="button" aria-expanded="false" aria-controls="vouwInstellingen">
  Instellingen
</a>

<div class="collapse" id="vouwInstellingen">
  <div class="card card-body">
    <h2>Blackletter</h2>
    <h4>Letter maten standaard (in mm)</h4>
    <table>
      <thead>
        <tr>
          <th>Pen nib</th>
          <th>Letterafstand</th>
          <th>Stroke breedte</th>
          <th>Woordafstand</th>
        </tr>
      </thead>
      <tbody>
        <% for(var penNib in penNibInfo) { %>
          <tr>
            <td><%= penNibInfo[penNib].naam %></td>
            <td><%= penNibInfo[penNib].letterafstand %></td>
            <td><%= penNibInfo[penNib].strokeBreedte %></td>
            <td><%= penNibInfo[penNib].woordafstand %></td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</div>

<h3>Bereken zin</h3>

<div class="container">

  <form class="" action="/" method="post">
    <div class="row">
      <div class="col-12">
        <label class="form-label" for="formZin">Tekst</label>
        <textarea class="form-control" name="formZin" id="formZin" rows="1" cols="50"></textarea>
      </div>

      <div class="col-2">
        <label class= "form-label" for="">Letterafstand</label>
        <input class="form-control" type="number" name="formLetterafstand" id="formLetterafstand" placeholder="[mm]">
      </div>
      <div class="col-2">
        <label class= "form-label" for="">Woordafstand</label>
        <input class="form-control" type="number" name="formWoordafstand" id="formWoordafstand" placeholder="[mm]">
      </div>
      <div class="col-3">
        <label class= "form-label" for="formPenNibSelectie">Pen nib selectie</label>
        <!-- Dropdown lijst om pen nib te selecteren -->
        <!-- Speedball C2 is standaard actief -->
        <select class="form-select" class="" id="formPenNibSelectie">
          <option value="speedballC0">Speedball C0</option>
          <option value="speedballC1">Speedball C1</option>
          <option value="speedballC2" selected>Speedball C2</option>
          <option value="speedballC3">Speedball C3</option>
          <option value="speedballC4">Speedball C4</option>
          <option value="speedballC5">Speedball C5</option>
        </select>
      </div>
    </div>
    <br>
    <button type="submit" name="knopZinBerekenen" class="btn btn-primary" id="knopZinBerekenen">Zin berekenen</button>
    <button type="button" name="knopClearOutput" class="btn btn-warning">Reset output</button>
    <button type="button" name="testKnop" class="btn btn-primary" id="testKnop">Test functie</button>
  </form>

</div>

<hr>

<h2 id="testID">Zin berekeningen</h2>

<div id="berekeningenLijst">

</div>

<%- include("footer") -%>
